<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      xmlns:context="http://www.springframework.org/schema/context"
xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:mvc="http://www.springframework.org/schema/mvc"
xmlns:security="http://www.springframework.org/schema/security"
 xmlns:flow="http://www.springframework.org/schema/webflow-config"
xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
     http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.0.xsd
           http://www.springframework.org/schema/webflow-config
http://www.springframework.org/schema/webflow-config/spring-webflow-config-2.0.xsd
    
    ">
   <context:component-scan base-package="com.ecom"/>
   <mvc:annotation-driven/>
   <context:annotation-config />
   
   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
   <property name="driverClassName" value="org.h2.Driver" />
    <property name="url" value="jdbc:h2:tcp://localhost/~/test" />
    <property name="username" value="sa" />
    <property name="password" value="" />
  
   
   </bean>
   
   <bean id="sessionFactory"
    class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
    <property name="dataSource" ref="dataSource" />

    <property name="annotatedClasses">
        <list>
            <value>com.ecom.PersonalComputer</value>
            <value>com.ecom.USER_AUTHENTICATION</value>
            <value>com.ecom.USER_AUTHORIZATION</value>
        </list>
    </property>
    <property name="hibernateProperties">
        <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.H2Dialect</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
            <prop key="hibernate.show_sql">true</prop>
        </props>
    </property>
</bean>
   <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
 
		 <!-- setting maximum upload size -->
		<property name="maxUploadSize" value="100000" />

	</bean>
  
   <security:http auto-config="true" use-expressions="true" >
   
   
   

		
	<security:form-login  login-page="/Login.jsp"    login-processing-url="/loginProcess"  default-target-url='/home' authentication-failure-url="/AccessDenied" />
   <security:logout logout-success-url="/logout"/> 
	
	<security:intercept-url pattern="/home.jsp" access="ROLE_ADMIN"/>
	<security:intercept-url pattern="/logout" access="permitAll" />
	<security:intercept-url pattern="/register" access="permitAll"/>
	</security:http>

	<security:authentication-manager>
<security:authentication-provider>
<security:jdbc-user-service
data-source-ref="dataSource"
users-by-username-query="select user_name,password,enabled from user_authentication where user_name=?"
authorities-by-username-query="select u1.user_name, u2.role from user_authentication u1, user_authorization u2 where u1.user_id = u2.user_id and u1.user_name =?" />
</security:authentication-provider>
</security:authentication-manager>
	<bean id="springSecurityFilterChain" class="org.springframework.web.filter.DelegatingFilterProxy"/>  
	 <flow:flow-executor id="flowExecutor" flow-registry="flowRegistry" />

    <flow:flow-registry id="flowRegistry" base-path="/WEB-INF/view">
        <flow:flow-location path="/cart-webflow-config.xml"   id="cart"/>
    </flow:flow-registry>

    <bean id="flowHandlerMapping" class="org.springframework.webflow.mvc.servlet.FlowHandlerMapping">
        <property name="flowRegistry" ref="flowRegistry" />
    </bean>

    <bean id="flowHandlerAdapter" class="org.springframework.webflow.mvc.servlet.FlowHandlerAdapter">
        <property name="flowExecutor" ref="flowExecutor" />
    </bean>
    </beans>